<div class="container">
    <div *ngIf="entries">
        <md-card>
            <md-card-content>
                <app-summary [entries]="entries" [fullName]="fullName" [invited]="true" ></app-summary>    
            </md-card-content>
        </md-card> 
    </div>
    <div *ngIf="completed">
        <md-card>
            <md-card-content>
                <app-summary [entries]="completed" [invited]="false"></app-summary>    
            </md-card-content>
        </md-card> 
    </div>
</div>
<md-card>
    <div *ngIf="toComplete" class="completed" >To Be Completed: <span [class.yellowbox]="toComplete != 0"> {{ toComplete }} </span></div>
    <button md-raised-button class="btn" >New Challenge</button>
    <md-card-content>
        <md-tab-group>
            <div *ngIf="teamChallenges">
                <md-tab label="Team Challenges"><app-table [challenges]="teamChallenges" [table]="false" ></app-table></md-tab>  
            </div>
            <div *ngIf="myChallenges">
                <md-tab label="My Challenges"><app-table [challenges]="myChallenges" [table]="true"></app-table></md-tab>
            </div>
        </md-tab-group>
    </md-card-content>
</md-card> 
