<div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-content: center; padding: 2em">
    <div *ngIf="entries">
        <md-card>
            <md-card-content>
                <app-summary [entries]="entries" [fullName]="fullName" [invited]="true" ></app-summary>    
            </md-card-content>
        </md-card> 
    </div>
    <div *ngIf="completed">
        <md-card>
            <md-card-content>
                <app-summary [entries]="completed" [invited]="false"></app-summary>    
            </md-card-content>
        </md-card> 
    </div>
</div>
<md-card>
    <md-card-content>
        <md-tab-group>
            <div *ngIf="teamChallenges">
                <md-tab label="Team Challenges"><app-table [challenges]="teamChallenges" [table]="false" ></app-table></md-tab>  
            </div>
            <div *ngIf="myChallenges">
                <md-tab label="My Challenges"><app-table [challenges]="myChallenges" [table]="true"></app-table></md-tab>
            </div>
        </md-tab-group>
    </md-card-content>
</md-card> 
