
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <md-input-container floatPlaceholder="never">
      <input mdInput #filter placeholder="Filter">
    </md-input-container>
  </div>
  <md-table #table [dataSource]="dataSource" mdSort> 
    <!-- Title Column MyChallenge -->
    <ng-container cdkColumnDef="title">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Title </md-header-cell>
      <md-cell *cdkCellDef="let row"  class="blue"> {{ row.challengeName }} </md-cell>
    </ng-container> 
    
    <!-- Title Column teamChallenge -->
    <ng-container cdkColumnDef="titleTC">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Title </md-header-cell>
      <md-cell *cdkCellDef="let row" class="blue"> {{ row.name }} </md-cell>
    </ng-container> 
    
    <!-- Created By Column MyChallenge -->
    <ng-container cdkColumnDef="createdBy">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Created By </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.challengerFirstName}} {{ row.challengerLastName }} </md-cell>
    </ng-container> 
   
    <!-- Created By Column teamChallenge -->
    <ng-container cdkColumnDef="name">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Created By </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.userFullName}} </md-cell>
    </ng-container> 
    
    <!-- average Column MyChallenge -->
    <ng-container cdkColumnDef="average"  >
      <md-header-cell *cdkHeaderCellDef md-sort-header> Avg Score </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.overallScore}} </md-cell>
    </ng-container> 
    
    <!-- Invited Column MyChallenge -->
    <ng-container cdkColumnDef="invited"  >
      <md-header-cell *cdkHeaderCellDef md-sort-header> Invited </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.modifiedDate | date}} </md-cell>
    </ng-container> 

    <!-- Invited Column teamChallenge -->
    <ng-container cdkColumnDef="modified"  >
      <md-header-cell *cdkHeaderCellDef md-sort-header> Modified </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.modifiedDate | date}} </md-cell>
    </ng-container> 
    
    <!-- Completed Column MyChallenge -->
    <ng-container cdkColumnDef="completed"  >
      <md-header-cell *cdkHeaderCellDef md-sort-header> Completed </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <div *ngIf="row.completedDate">
          {{row.completedDate | date}} 
        </div> 
        <div *ngIf="!row.completedDate"> 
          <button class="yellowbox"> Complete Now </button>
        </div>
        </md-cell>
    </ng-container>
   
    <!-- Invited Column teamChallenge -->
    <ng-container cdkColumnDef="invitedTC"  >
      <md-header-cell *cdkHeaderCellDef md-sort-header> Invited </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.numberInvited }} </md-cell>
    </ng-container>
    
    <!-- Entries Column teamChallenge -->
    <ng-container cdkColumnDef="entries"  >
      <md-header-cell *cdkHeaderCellDef md-sort-header> Entries </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.numberOfEntries != 0 ? row.numberOfEntries : '-' }} </md-cell>
    </ng-container>
    
    <!-- To Review Column teamChallenge -->
    <ng-container cdkColumnDef="review"  >
      <md-header-cell *cdkHeaderCellDef md-sort-header> To Review </md-header-cell>
      <md-cell *cdkCellDef="let row" >
        <div> 
            <span [class.yellowbox]="row.numberToReview != 0" class="review">{{row.numberToReview != 0 ? row.numberToReview: '-' }}</span>
        </div>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="button" class="btn" >
      <md-header-cell *cdkHeaderCellDef > Actions </md-header-cell>
      <md-cell *cdkCellDef="let row">
          <button md-button [mdMenuTriggerFor]="menu"> <md-icon>more_horiz</md-icon> </button>
          <md-menu #menu="mdMenu" yPosition="below" [overlapTrigger]="false">
              <button md-menu-item class="blue font"> <md-icon>trending_up</md-icon> View Leaderboard</button>
              <button md-menu-item class="blue font"> <md-icon>mail</md-icon> Send Participant Reminder</button>
              <button md-menu-item class="blue font"> <md-icon>mail</md-icon> Send Reviwer Reminder</button>
              <button md-menu-item class="blue font"> <md-icon>content_copy</md-icon> Copy Challenge</button>
              <button md-menu-item class="blue font"> <md-icon>edit</md-icon> Edit Profile</button>
              <button md-menu-item class="blue font"> <md-icon>delete</md-icon> Delete Challenge</button>
              <button md-menu-item class="blue font adjust"> <md-checkbox></md-checkbox>Email me when an entry is submitted</button>
          </md-menu>
        </md-cell>
    </ng-container>
    
    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"
      style = "cursor: pointer;">
    </md-row>
  </md-table>
</div>  
