.blue{
    color: darkturquoise;
}

.yellowbox{
    flex: 0 0 75;
    background-color: #ffa500;
    border: 1px solid #fd7a16;
    border-radius: 2px;
    color: white;
    width: 10px important!;
}

.expand{
    flex: 0 0 450px;
}

.btn{
    text-align: center;
}