.blue{
    color: darkturquoise;
}

.yellowbox{
    background-color: #ffa500;
    border: 1px solid #fd7a16;
    border-radius: 2px;
    color: white;
}

.btn{
    text-align: center;
}

.review{
    padding: 5px 8px 5px 8px;
}

.font{
    font-size: 13px;
}

.adjust{
    display: block;
}