<div class="container">
  <div class="messageContainer">
    <div *ngIf="invited" class="invited">
      <h2>Welcome {{ name[0] | titlecase }}</h2>
      <p [class.blue]="toReview != 0">It looks like you have some entries to review</p>
      <p >Browser your Team Challenges tab below to continue reviwing submisions, or your My Challenges tab to complete challenges</p>
    </div>
    <div *ngIf="!invited" class="invited">
      <h2 class="title" >Personal Status </h2>
      <div class="contain">
        <div class="box">
          <h5 class="avg">Avg Score</h5>
          <p class="big-blue">{{ avg |number:'1.0-2' }}%</p>
        </div>
      </div>
    </div>
  </div>
  <div >
    <div class="chartContainer">
      <p *ngIf="invited" class="chartMessage">{{ toReview }} Entries to review</p>
      <p *ngIf="!invited" class="chartMessage">{{ toComplete }} Entries to complete</p>
      <canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"
        [colors]="lineChartColors"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
  